<!DOCTYPE html>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/javascripts/es5.js"></script>
<script src="/public/javascripts/tetromino.js"></script>
<script src="/public/javascripts/tetris.js"></script>
<script src="/public/javascripts/view.js"></script>
<style>
canvas {outline:none}
canvas:focus {outline:2px solid #4bf}
</style>
<body>
<canvas width="200" height="400"></canvas>
<script>

</script>
<script>
		var socket = io.connect('http://localhost');
		socket.on('setState',function(grid){
			console.log(grid);
		});
    var game = new TetrisGame();

    var canvases = document.getElementsByTagName('canvas');
    for(var i=0; i< canvases.length; i++) {
        new TetrisView(canvases[i], game);
    }
</script>
